<div class="container p-5">
    <div class="row">
      <div class="col column-1">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Your Name">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="bugtitleHelp" placeholder="Bug Title">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="More Information On The Issue"></textarea>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
      <div class="col column-2">
          <b><p class="text-center"> Bug Summary</p></b>
          <div class="name"><b>Name:</b>  Steve Njuguna</div>
          <div class="bugTitle"><b>Bug Title: </b>Unresponsive UI</div>
          <div class="content"><b>Issue: </b>The UI is very unresponsive, please check on it ASAP!</div>
          <div class="d-grid gap-2">
            <button class="btn btn-danger btn-sm">Remove</button>
          </div>
          <hr>
      </div>
    </div>
</div>