<div class="container p-5">
    <div class="row">
      <div class="col column-1">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="nameHelp" placeholder="Your Name">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="bugtitleHelp" placeholder="Bug Title">
          </div>
          <div class="mb-3">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="More Information On The Issue"></textarea>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>
        </form>
      </div>
      <div class="col column-2">
          <b>Name: </b><div class="name">Steve Njuguna</div>
          <b>Bug Title: </b><div class="bugTitle">Unresponsive UI</div>
          <b>Issue: </b><div class="content">The UI is very unresponsive, please check on it ASAP!</div>
          <button class="btn btn-danger btn-sm">Remove</button>
          <hr>
      </div>
    </div>
</div>