.column-1{
    background-color:#eee;
    border-radius: 10px;
    padding: 20px;
    margin-right: 30px;
}

.column-2{
    background-color:#eee;
    border-radius: 10px;
    padding: 20px;
}

.bugs .status{
    display: none;
}


.bugs.done .status{
    color: green;
    display: inline;
}

.bugs.done .content{
    text-decoration: line-through;
}

.bugs.done .bugTitle{
    text-decoration: line-through;
}

.btn-success{
    margin-right: 10px;
}